@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
#hero{
  background: linear-gradient(00deg, rgb(9, 9, 9) 3.482%,rgba(16, 16, 16, 0) 101.632%), url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 619px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#hero .content{
    width:691px ;
   

}
#hero .content .sub-title{
    opacity: 0.8;
   color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 20px;
font-weight: 600;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 9px;
}

#hero .content .title{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 42px;
font-weight: 700;
line-height: 50px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 15px;
}
#hero .content .description{
    opacity: 0.7;
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 13px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 18px;
}
.button-main{
    text-align: center;
   
}
 .button{
    padding: 11px 18px 11px 18px;
    
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 11px;
font-weight: 600;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
border-radius: 5px;

background: rgb(82, 195, 3);
border: none;
 cursor: pointer;
}


#card-box {
    width: 780px;
    margin: 120px auto;
}

#card-box  .title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 10px;
}
#card-box  .sub-title{
    color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 16px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-bottom: 10px;
}
#card-box  .card-container{
    margin-top: 30px ;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 25px;
}
.card{
    max-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.card .img-box{
    width: 250px;
    margin-bottom: 12px;
}
.card .img-box img{
    width: 100%;
}
.card .shop{
    margin-bottom: 17px;
   border-radius: 8px;
padding: 9px 18px 9px 18px;
background: rgba(82, 195, 3, 0.15);

}
.card .des{
    opacity: 0.7;
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 12px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
}